{% extends "store/base.html" %}

{% block content %}
    <div class="alert alert-success" role="alert" style="display:{{visibility}};">
    <strong>Thanks for choosing us!</strong> Login again for full features.
    </div>
    <form class="inputform bg-primary mt-3" method="post" action="/login">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
        <label for="inputusername" class="sr-only">Username</label>
        <input type="text" id="inputusername" name="username" class="form-control mb-3" placeholder="Username" required
            autofocus>
        <label for="inputpassword" class="sr-only">Password</label>
        <input type="password" id="inputpassword" name="password" class="form-control mb-3" placeholder="Password" required>
        <button class="btn btn-lg btn-success " type="submit">Sign in</button>
    </form>
{% endblock content %}