{% extends "store/base.html" %}

{% block title %}
<title>{{ book.title }} | Library</title>
{% endblock %}

{% block content %}
<h2>Title: {{ book.title }}</h2>

<dl>
    <dt>Genre:</dt>
    <dd>{{ book.genre }}</dd>
    <dt>Author:</dt>
    <dd>{{ book.author }}</dd>
    <dt>Description:</dt>
    <dd>{{ book.description }}</dd>
    <dt>Rating:</dt>
    <dd>{{ book.rating }}<br>{{ book.ctrating }} ratings so far.</dd>
    <dt>MRP:</dt>
    <dd>Rs. {{ book.mrp }}</dd>
    <dt>Available Copies:</dt>
    <dd>{{ num_available }}</dd>
</dl>
{% if user.is_authenticated %}
<button class="btn btn-primary" id="loan-button">Loan {{ book.title }}</button>
<br>
<br>
<div>
	<input type='number' id='rate-value' min=0 max=10 value=5>
	<button class="btn btn-primary" value='Rate' id="rate-button">Rate</button>
</div>

{% endif %}
<script>
$("#loan-button").click(function(){
    $.ajax({
		url: "{% url 'loan-book' %}",
		method: "POST",
		data: {
			bid: {{ book.id }}
		},
		success: function(data, status, xhr){
			if(data['message'] == "success"){
                alert("Book successfully issued");
                window.location.replace("/books/loaned");
			}
			else{
				alert("Unable to issue this book");
			}
		},
		error: function(xhr, status, err){
			alert("Some error occured");
		}

	})
})

$("#rate-button").click(function(){
	value=document.getElementById('rate-value').value
	console.log(value.length)
	if(value=='' || value<0 || value>10){alert('Rate the books within the range of 0-10');return;}
    $.ajax({
		url: "{% url 'rate-book' %}",
		method: "POST",
		data: {
			val: value,
			book_id: {{ book.id }}
		},
		success: function(data, status, xhr){
			if(data['message'] == "success"){
                alert("Rated successfully");
                window.location.reload();
			}
			else{
				alert("Unable to rate this book");
			}
		},
		error: function(xhr, status, err){
			alert(err);
		}

	})
})
</script>
{% endblock %}