{% extends "store/base.html" %}


{% block content %}
<marquee behavior="" direction="">--- Online Library Management App ---</marquee>
<h2>Welcome to the eLibrary. This is Homepage of Library.</h2>
<p>This is the online library management software created by the COPS IIT BHU which allows one to borrow the book from the library and also to check the availability of the book</p><br><br>
<h4>Benefits:</h4>
<P>Suppose, you have to borrow a book and only one copy of book is available and before you reach the library the book is borrowed by somebody else and in that case your time is wasted but with the help of this you can borrow the book online and your time is saved by this and the book is available to you and and you can check the availability of the book online whether the book is available for the borrow or not and in this way you can also save your time of going to the library again and again !</P>
{% endblock %}